{{#
    @name Layout
    @desc The default layout file.
#}}

<!-- /layout.antlers.html -->
<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? 'Rankings' }} | {{ site:name }}</title>
        {{ vite src="resources/css/site.css|resources/js/site.js" }}
        {{ partial:statamic-peak-seo::snippets/seo }}
        {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
        {{ partial:statamic-peak-tools::snippets/live_preview }}
        {{ stack:head }}
        {{ livewire:styles }}
    </head>
    <body class="bg-gray-100">
        {{ stack:seo_body }}
        {{ partial:statamic-peak-tools::snippets/noscript }}
        {{ partial:statamic-peak-tools::navigation/skip_links }}
        {{ partial:statamic-peak-tools::components/toolbar }}

        <div class="container mx-auto px-4 py-8">
            {{ template_content }}
        </div>

        {{ partial:layout/footer }}
        {{ livewire:scripts }}
        <script src="//unpkg.com/alpinejs" defer></script>
    </body>
</html>
<!-- End: /layout.antlers.html -->
